

.product_detail-container {
    margin-top: 50px;
    margin-inline: auto;
    background-color: #FFF;
    width: auto;
}

.product_detail-content {
    display: grid;
    grid-template-columns: 1.5fr 2fr; 
}
.product__image {
    width: 100%;
}

.product__inner {
    border: 1px solid #111;
    border-radius: 20px;
    margin: 10px;
    padding: 0 20px;
    text-align: start;

}

.product_description > * {
    margin-bottom: 30px;

}
.product_description h3 {
    font: normal normal 400 2rem/ 2 Sans-serif ;
    border-bottom: 1px solid #111;
    width: 20vw;
}


.product__image img{
    width: 100%;

}

