
.title, .subtitle {
    color: #FFF;
}

.web_msg-content {
    color: #FFF;
}
.web_msg-container {
    margin-top: 40vh;
}
.web_msg {
    text-align: center;
    color: #FFF;
    margin-bottom: 10px;
    font: normal normal bold 32px/1 "Poppins", sans-serif;
}