

.cart-items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #fff;
    padding: 20px;
}

[class*='cart-item-'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    width: 200px;
    border-bottom: 1px solid #e6e6e6;
}

[class*='cart-item-'] p {
    margin: 0;
    font-weight: bold;
}

.cart-item-remove button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-inline: 20px;
    width: 100px;
    height: auto;
    padding: 5px;
    background-color: #e6e6e6;
    border-radius: 10px;
    border: 1px solid #999999;
    cursor: pointer;
    font: normal normal normal 14px/1 'Poppins';
}