.counter {
    display: flex!important;
    flex-direction: row;
    align-items: center;
}

.counter button {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: pointer;
    height: 30px;
    margin: 0 15px;
    padding-inline: 1rem;
    width: max-content;
}

.counter button:active {
    background-color: #ccc;
}